html, body {
	/* height: 100%; */
	font-weight: bold;
}

body {
	flex-direction: column;
	/* background: url('../img/background.jpg') no-repeat; */
	/* background: url('../img/background1.png') no-repeat; */
	/* background: url('../img/background2.jpg'); */
	background-color: rgb(184, 206, 214);
	/* background-repeat: repeat; */
	/* background-size: cover; */
	
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
	display: flex;
	flex-direction: column;
	max-width: 700px;
	width: 100%;
	padding: 10px 30px;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.group-section{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	justify-content: space-between;
}

/* App container*/
.app-container {
	max-width: 450px;
	width: 100%;
	padding: 25px 25px 0 25px;
	margin: 10px;
	
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.app-container h3 {
	font-size: 32px;
	margin: 10px auto;
}

/* New product */
.new-product-container {
	margin-bottom: 20px;
}

/* Products list */
.products-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.single-product {
	margin-bottom: 20px;
}

.value{
	width: 120px;
	margin-top: 3px;
}

/* zajętość zapisu */
.elem-is-busy {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}

.elem-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:'';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 10;
}

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
/* zajętość zapisu */