html, body {
	/* height: 100%; */
	font-weight: bold;
}

body {
	flex-direction: column;
	/* background: url('../img/background.jpg') no-repeat; */
	/* background: url('../img/background1.png') no-repeat; */
	/* background: url('../img/background2.jpg'); */
	background-color: rgb(184, 206, 214);
	/* background-repeat: repeat; */
	/* background-size: cover; */
	
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
	display: flex;
	flex-direction: column;
	max-width: 700px;
	width: 100%;
	padding: 10px 0px;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	height: 160px;
}

.group-section{
	display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}

.option{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}

.setting{
	display: none;
	/* display: flex; */
    flex-direction: column;
    width: 280px;
    height: 0px;
    margin: 0 auto;
    margin-top: 22px;
}

.up{
    position: relative;
    bottom: -124px;
	display: none;
}

.down{
	height: 22px;
}

.setting p {
	margin: 0;
    font-size: 10px;
    color: brown;
}

.form-control-xs{
	width: 190px;
}

/* App container*/
.app-container {
	max-width: 450px;
	width: 100%;
	padding: 25px 25px 0 25px;
	margin: 10px;
	
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.app-container h3 {
	font-size: 32px;
	margin: 10px auto;
}

/* New product */
.new-product-container {
	margin-bottom: 8px;
    margin-top: 15px;
}

/* Products list */
.products-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.single-product {
	margin-bottom: 20px;
}

/* .value{
	width: 120px;
	margin-top: 3px;
} */

[class*="posicion"]{
	width: 100px;
	margin-top: 3px;
}

/* zajętość zapisu */
.elem-is-busy {
    /* position: relative; */
    pointer-events: none;
    opacity:0.5;
}

.elem-is-busy::after {
    /* position: absolute; */
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:'';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 10;
}

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
/* zajętość zapisu */

@media (max-width: 490px){
	h2{
		width: 300px;
    	margin: 0 auto;
	}
	.group-section {
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}
	.new-product-container {
		margin-top: 10px;
	}
	.up {
		bottom: -124px;
	}
	.option {
		margin-top: 17px;
	}

@media (max-width: 390px){
	h2{
		width: 300px;
		margin: 0 auto;
		font-size: 16px;
	}
	.group-section {
		flex-direction: column;
	}
	.option {
		margin-top: 0px;
	}
}